body {
  padding: 100px 350px;
  background-image: url("https://images.pexels.com/photos/87651/earth-blue-planet-globe-planet-87651.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
  background-repeat: no-repeat;
  background-size: cover;
  background-color: black;
}

.container {
  border: 1px solid rgb(251, 255, 0, 0.151);
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.116);
  margin: 50px;
  padding-top: 15px;
}

.iconNow {
  color: rgb(255, 255, 255);
  text-align: center;
  display: block;
  font-size: 35px;
}

div h1 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
  box-shadow: 10px;
  font-size: 19px;
  top: 160px;
}
div h2 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  color: white;
}

div h3 {
  text-align: center;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 10px;
  color: white;
}

div h4 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 13px;
  color: white;
}

form {
  position: absolute;
  top: 160px;
  right: 370px;
}

.days-week {
  display: grid;
  grid-gap: 15px;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  font-family: Arial, Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.1);
}

.low-temp {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: rgb(82, 21, 226);
  background-color: rgba(255, 255, 255, 0.2);
}

.emoji-temp {
  text-align: center;
  background-color: rgba(255, 255, 255, 0.3);
}

.high-temp {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
  color: rgb(226, 21, 21);
  background-color: rgba(255, 255, 255, 0.4);
}
